<!--In this launchfile, three turtlebots are spawned in gazebo and they move in a formation-->
<launch>
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>

<!-- Rviz -->
 <node name="rviz" pkg="rviz" type="rviz"  args="-d $(find turtlebot3_gazebo)/rviz/multi_turtlebot3_slam.rviz"/>

<!-- First robot becomes leader and publishes corresponding velocities-->
 <node pkg="nuclearrobot" type="tb3_tf_broadcaster" name="robot_broadcaster" />

 <node pkg="nuclearrobot" type="leader_vel_pub" name="leader" /> 
 
 <node pkg="nuclearrobot" type="tb3_tf_listener" name="follower" />  

</launch>

