<!--In this launchfile, three turtlebots are spawned in gazebo nuclear plant world. They also spawn multiple radiation sources and radiation sensors loaded on them-->

<launch>
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="first_tb3"  default="tb3_0"/>
  <arg name="second_tb3" default="tb3_1"/>
  <arg name="third_tb3"  default="tb3_2"/>

  <arg name="first_tb3_x_pos" default="-20.0"/>
  <arg name="first_tb3_y_pos" default="-1.0"/>
  <arg name="first_tb3_z_pos" default=" 0.0"/>
  <arg name="first_tb3_yaw"   default=" 1.57"/>

  <arg name="second_tb3_x_pos" default=" -20.0"/>
  <arg name="second_tb3_y_pos" default="-3.0"/>
  <arg name="second_tb3_z_pos" default=" 0.0"/>
  <arg name="second_tb3_yaw"   default=" 1.57"/>

  <arg name="third_tb3_x_pos" default=" -20.0"/>
  <arg name="third_tb3_y_pos" default=" -5.0"/>
  <arg name="third_tb3_z_pos" default=" 0.0"/>
  <arg name="third_tb3_yaw"   default=" 1.57"/>

  <arg name="use_sim_time" default="true" />
  <arg name="gui" default="true" />
  <arg name="headless" default="false" />
  <arg name="world_name" default="$(find gazebo_radiation_plugins)/custom_models/reactor_room/updated_reactor_room2.world" />

  <param name="use_sim_time" value="$(arg use_sim_time)"/>

    <!--Load params -->
  <rosparam file="$(find gazebo_radiation_plugins)/custom_models/reactor_room/configs/attentuation.yaml" command="load"  />
  <rosparam file="$(find gazebo_radiation_plugins)/custom_models/reactor_room/configs/sensors.yaml" command="load"  />
  <rosparam file="$(find gazebo_radiation_plugins)/custom_models/reactor_room/configs/radiation.yaml" command="load"  />

  <!-- Launch Gazebo with the specified world and radiation sources-->
  <node name="gazebo" pkg="gazebo_radiation_plugins" type="gazebo"  output="screen" args="--verbose $(arg world_name)" />

  <!-- Spawn first robot with radiation sensor-->
  <group ns = "$(arg first_tb3)">
    <param name="robot_description" command="$(find xacro)/xacro $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro" />

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
      <param name="publish_frequency" type="double" value="50.0" />
      <param name="tf_prefix" value="$(arg first_tb3)" />
    </node>

    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg first_tb3) -x $(arg first_tb3_x_pos) -y $(arg first_tb3_y_pos) -z $(arg first_tb3_z_pos) -Y $(arg first_tb3_yaw) -param robot_description" />
    <!-- Turtlebot xacro modified to add the sensor and corresponding tf-->
     <node pkg="tf" type="static_transform_publisher" name="radiation_sensor_to_robot0" args="0 0 0 0 0 0  /tb3_0/base_footprint sim_sensor 100"/>
     <node pkg="tf" type="static_transform_publisher" name="tfmapodom" args="0 0 0 0 0 0 /map tb3_0/odom 100"/>
 

  </group>

  <!-- Spawn second robot with radiation sensor-->
  <group ns = "$(arg second_tb3)">
    <param name="robot_description" command="$(find xacro)/xacro $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro" />

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
      <param name="publish_frequency" type="double" value="50.0" />
      <param name="tf_prefix" value="$(arg second_tb3)" />
    </node>

    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg second_tb3) -x $(arg second_tb3_x_pos) -y $(arg second_tb3_y_pos) -z $(arg second_tb3_z_pos) -Y $(arg second_tb3_yaw) -param robot_description" />
    <!-- Turtlebot xacro modified to add the sensor and corresponding tf-->
    <node pkg="tf" type="static_transform_publisher" name="radiation_sensor_to_robot1" args="0 0 0 0 0 0  /tb3_1/base_footprint sim_sensor 100"/>
    <node pkg="tf" type="static_transform_publisher" name="tfmapodom" args="0 0 0 0 0 0 /map tb3_1/odom 100"/>
 
  </group>

  <!-- Spawn third robot with radiation sensor-->
  <group ns = "$(arg third_tb3)">
    <param name="robot_description" command="$(find xacro)/xacro $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro" />

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
      <param name="publish_frequency" type="double" value="50.0" />
      <param name="tf_prefix" value="$(arg third_tb3)" />
    </node>

    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg third_tb3) -x $(arg third_tb3_x_pos) -y $(arg third_tb3_y_pos) -z $(arg third_tb3_z_pos) -Y $(arg third_tb3_yaw) -param robot_description" />
    <!-- Turtlebot xacro modified to add the sensor and corresponding tf-->
    <node pkg="tf" type="static_transform_publisher" name="radiation_sensor_to_robot2" args="0 0 0 0 0 0  /tb3_2/base_footprint sim_sensor 100"/>
    <node pkg="tf" type="static_transform_publisher" name="tfmapodom" args="0 0 0 0 0 0 /map tb3_2/odom 100"/>
 
  </group>

</launch>
